@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>@ViewBag.param</h3>
    <input type="text" id="tempo" placeholder="Tempo" />
    <input type="text" id="potencia" placeholder="Potência" />
    <input type="text" id="programa" placeholder="Programa" />
    <button id="iniciar">Iniciar</button>
    <button id="iniciarAuto">Inicio Rápido</button>
    <h4 id="status"></h4>
</div>

@section Scripts {
    <script>
    var idAquecimento;
    var timer;

    $("#iniciar").click(function () {
        var tempo = $("#tempo").val();
        var potencia = $("#potencia").val();
        var programa = $("#programa").val();
        if (potencia.length === 0) {
            $("#potencia").val(10);
        }
        $.ajax({
            url: "@Url.Action("IniciarAquecimento", "Home")",
            data: JSON.stringify({"potencia":potencia,"tempo":tempo,"programa":programa}),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            type: "POST"
        }).done(function (result) {
            timer = setInterval(AtualizarStatus, 998);
        }).fail(function (xhr, status, error) {
            $("#status").html(xhr.responseJSON.Message);
        })
    });

    $("#iniciarAuto").click(function ()
    {
        $("#tempo").val(30000);
        $("#potencia").val(8);
        $("#programa").val("");
        var tempo = $("#tempo").val();
        var potencia = $("#potencia").val();
        $.ajax({
            url: "@Url.Action("IniciarAquecimento", "Home")",
            data: JSON.stringify({"potencia":potencia,"tempo":tempo,"programa":""}),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            type: "POST"
        }).done(function (result) {
            timer = setInterval(AtualizarStatus, 980);
        }).fail(function (xhr, status, error) {
            $("#status").html(xhr.responseJSON.Message);
        })
    });

    function AtualizarStatus() {
        $.ajax({
            url: "@Url.Action("ObterStatusAquecimento", "Home")",
            type: "POST"
        }).done(function (result) {
            if (result === 'aquecida') {
                clearTimeout(timer);
                $("#programa").val(result);
            } else {
                for (var i = 0; i < $("#potencia").val(); i++){
                    $("#programa").val($("#programa").val() + ".");
                }
        }
        $("#status").html(result);
    });
    }
    </script>
}