@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>@ViewBag.param</h3>
    <input type="text" id="tempo" placeholder="Tempo" />
    <input type="text" id="potencia" placeholder="Potência" />
    <input type="text" id="programa" placeholder="Programa" />
    <button id="iniciar">Iniciar</button>
    <button id="iniciarAuto">Inicio Rápido</button>
    <h4 id="status"></h4>
</div>

@section Scripts {
    <script>
        var idAquecimento;
        var timer;

        $("#iniciar").click(function () {

            var tempo = $("#tempo").val();
            var potencia = $("#potencia").val();
            var programa = $("#programa").val();

            if (!$.isNumeric(tempo)) {
                $("#status").html("Tempo inválido.");
            return;
            }

            if (potencia && !$.isNumeric(potencia)) {
                $("#status").html("Potência inválida.");
            return;
            }

            $("input, button").prop('disabled', true);

            $.ajax({
                url: "@Url.Action("IniciarAquecimento", "Home")",
                data: JSON.stringify({ "potencia": potencia, "tempo": tempo, "programa": programa }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                type: "POST"
            }).done(function (result) {
                $("#status").html(result.Progresso);
                $("#potencia").val(result.Potencia);
                timer = setInterval(function () { AtualizarStatus(result.Id) }, 1000);
            }).fail(function (xhr, status, error) {
                $("#status").html(xhr.responseJSON.Message);
            });
        });

    $("#iniciarAuto").click(function ()
    {
        $("input, button").prop('disabled', true);

        $.ajax({
            url: "@Url.Action("IniciarAquecimentoRapido", "Home")",
            contentType: "application/json; charset=utf-8",
            type: "POST"
        }).done(function (result) {
            $("#tempo").val(result.Tempo);
            $("#potencia").val(result.Potencia);
            $("#status").html(result.Progresso);
            timer = setInterval(function () { AtualizarStatus(result.Id) }, 1000);
        }).fail(function (xhr, status, error) {
            $("#status").html(xhr.responseJSON.Message);
        });
    });

    function AtualizarStatus(id) {
        $.ajax({
            url: "@Url.Action("ObterAquecimento", "Home")",
            data: JSON.stringify({ "id": id }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            type: "POST"
        }).done(function (result) {
            if (result.Finalizado) {
                clearTimeout(timer);
                $("input, button").prop('disabled', false);
            }
            $("#status").html(result.Progresso);
        });
    }

    </script>
}